.App {
  width: 100vw;
  height: 90vh;
  position: absolute;
  bottom: 0;
  text-align: center;
  background: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 0px;
  grid-template-areas:
    'screen'
    'footer';
}

.Header {
  width: calc(100vw - 1em);
  height: 2.25em;
  padding: 0.5em 0.5em 0;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  background-color: white;
  border-bottom: 0.25em solid lightgrey;
  z-index: 950;
}

.Header div {
  min-width: 6em;
}

#title {
  text-align: left;
}

#roomCode {
  text-align: center;
  text-decoration: underline;
}

#exit {
  text-align: right;
  cursor: pointer;
}

.Footer {
  grid-area: footer;
  display: none;
  background-color: lightgrey;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,0.95);
  z-index: 1000;
  font-size: 3em;
  font-weight: bold;
}

.Lobby {
  grid-area: screen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

h1 {
  font-size: 4em;
}

#instructions {
  padding: 0.25em;
}

.lobbyButtons {
  font-weight: bold;
  font-size: calc(min(5vw, 4vh));
  flex-direction: row;
}

.lobbyButtons div {
  margin: 0.75em;
  padding: 0;
  border-radius: 1em;
  cursor: pointer;
}

.lobbyInfo {
  padding: 0.25em;
  font-weight: bold;
}

.Create {
  color: white;
  background: yellowgreen;
}

.slider {
  max-width: 80vw;
  width: 25em;
}

.Join {
  flex-direction: row;
}

.Start {
  color: white;
  background: yellowgreen;
}

.Rename {
  flex-direction: row;
}

#inputBox {
  height: 2.5em;
  width: 10em;
  font-size: 1em;
  text-align: center;
  box-shadow: none;
  border-radius: 1em;
  border: 0.1em solid lightgrey;
}

.Play {
  grid-area: screen;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr calc(15vh + 4em);
  grid-template-areas:
    'table'
    'hand';
}

.Button {
  font-size: 2em;
}

.Players {
  grid-area: table;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.Player {
  border: 0.25em solid rgba(0,0,0,0);
  border-radius: 0.75em;
  margin: 0.25em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.playerHighlight {
  animation: highlightPlayer 0.5s 1;
}

@keyframes highlightPlayer {
  0% {
    position: relative;
    left: 0vw;
  }
  50% {
    position: relative;
    left: 2vw;
  }
  100% {
    position: relative;
    left: 0vh;
  }
}

.playerValue {
  font-weight: bold;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 0.25em solid black;
}

.playerName {
  font-size: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Status {
  width: calc(100vw - 1em);
  position: fixed;
  top: 3em;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Latest {
  grid-area: table;
  z-index: 900;
  flex-direction: column;
}

.Pile {
  grid-area: table;
  padding: 0.5em;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column-reverse;
}

.Hand {
  grid-area: hand;
  padding: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-image: linear-gradient(to bottom, white 67%, white 67%);
  cursor: pointer;
}

.Card {
  margin: 0.25em;
  border: 0.25em solid black;
  border-radius: 0.5em; 
  font-weight: bold;
  background-color: white;
}

.Latest .Card {
  height: 30vh;
  width: 20vh;
  font-size: 3em;
  animation: playLatest 0.5s 1;
}

@keyframes playLatest {
  0% {
    position: relative;
    left: 0px;
    top: 5vh;
  }
  100% {
    position: relative;
    left: 0px;
    top: 0px;
  }
}

.Pile .Card {
  height: 4vh;
  width: 7vw;
  font-size: 0.75em;
  animation: playPile 0.5s 1;
}

@keyframes playPile {
  0% {
    position: relative;
    bottom: 4vh;
  }
  100% {
    position: relative;
    bottom: 0vh;
  }
}

.Hand .Card {
  min-height: 10vh;
  min-width: 7vh;
  margin: 0;
  font-size: 1.5em;
}

.handWrapper {
  height: 100%;
  width: 100%;
  padding-left: calc(50vw - 4vh - 0.875em);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  overflow-x: visible;
}

.cardWrapper {
  margin: 0 -1em 0 0;
}

.cardWrapper:last-child {
  overflow: visible;
  position: relative;
  bottom: 1.5em;
  border-radius: 1.25em;
}

.nextCard {
  border: 0.25em solid greenyellow;
  border-radius: 1.125em;
}

.autoCard {
  border: 0.25em solid yellow;
  border-radius: 1.125em;
}

.cardWrapper:last-child .Card {
  min-height: 12vh;
  min-width: 8vh;
  font-size: 2em;
}

.missed {
  border: 0.25em solid red;
  color: red;
}

.stale {
  opacity: 0.25;
}

.replay {
  height: 100%;
  width: 50%;
}

.endgame {
  height: 100%;
  width: 50%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.unselectable {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@media screen and (max-aspect-ratio: 1/1) {
  .App {
    height: 85vh;
  }
}